<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>
  <app-list-item-view
    [unitList]="unitList"
    [itemSearchValues]="unitSearchValues"
    [totalItemsFounded]="totalUnitsFounded"
    (selectUnit)="onSelectUnit($event)"
    (filterByName)="onFilterUnit($event)"
    (pagingEvent)="paging($event)"
  >
  </app-list-item-view>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="text-center nopadding">
    <button
      mat-raised-button
      (click)="onCancel()"
    >{{'COMMON.CANCEL' | translate}}
    </button>
  </div>
</mat-dialog-actions>

