<div class="page-wrapper bg-gra-02 font-poppins"
     [ngClass]="{'p-t-130 p-b-100': !isMobile, 'p-t-20 p-b-20': isMobile}"
>
  <div class="container wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <h2 class="auth-title" *ngIf="!isMobile">Вход в систему</h2>
          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <label>Аккаунт или email</label>
            </div>
            <div class="col-md-6 col-sm-12">
              <div *ngIf="firstSubmitted && usernameField.errors">
                <p *ngIf="usernameField.errors.required" class="error">Обязательное поле</p>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <div class="input-group">
                <input
                  id="username"
                  type="text"
                  formControlName="username"
                  class="input--style-4"
                  [ngClass]="{ 'field-error': firstSubmitted && usernameField.errors }"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-12" *ngIf="!isMobile">
              <div class="input-group">
                <p class="desc">Можно вводить имя аккаунта или ваш email</p>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <label>Пароль</label>
            </div>
            <div class="col-md-6 col-sm-12">
              <div *ngIf="firstSubmitted && passwordField.errors">
                <p *ngIf="passwordField.errors.required" class="error">Обязательное поле</p>
                <p *ngIf="passwordField.errors.minlength" class="error">Не меньше 4 символов</p>
              </div>
            </div>
          </div>
          <div class="row  row-space">
            <div class="col-md-6 col-sm-12">
              <div class="input-group">
                <input
                  id="password"
                  type="password"
                  formControlName="password"
                  [readOnly]="isLoading"
                  class="input--style-4"
                  [ngClass]="{ 'field-error': firstSubmitted && passwordField.errors}"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-12" *ngIf="!isMobile">
              <div class="input-group">
                <p class="desc">Еслм забыли пароль - воспользуйтесь ссылкой "Забыли пароль"</p>
              </div>
            </div>

          </div>
          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <button
                type="submit"
                class="btn btn--radius-2 btn--blue"
                [disabled]="isLoading"
                [ngClass]="{'disabled-button': isLoading, 'mobile-btn': isMobile }"
              >
                Войти
              </button>
            </div>
            <div class="col-md-6 col-sm-12">
              <img src="assets/img/loading.gif" class="loading" *ngIf="isLoading">
              <div *ngIf="err && !isLoading">
                <p class="error">{{err}}</p>
                <div *ngIf="showResendLink">
                  <a href="/activate-account/error" class="routerLink underline">Отправить письмо активации</a>
                </div>

              </div>
            </div>

          </div>
          <div class="row row-space cancel-region">
            <div class="col-md-12">
              <a routerLink="/register" class="routerLink" [class.disabled]="isLoading ? true: null">
                Регистрация
              </a>
            </div>
            <div class="col-md-12">
              <a routerLink="/reset-password" class="routerLink" [class.disabled]="isLoading ? true: null">
                Забыли пароль?
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
