<div class="card-body">
  <label>{{dialogTitle}}</label>
  <form [formGroup]="form" (ngSubmit)="submitForm()" [appMustMatch]="['password', 'confirmPassword']">
    <div class="row row-space">
      <div class="col-md-6 col-sm-12">
        <label>Пароль</label>
      </div>
      <div class="col-md-6 col-sm-12">
        <div *ngIf="firstSubmitted && passwordField.errors">
          <p *ngIf="passwordField.errors.required" class="error">Обязательное поле</p>
          <p *ngIf="passwordField.errors.minlength" class="error">Не меньше 4 символов</p>
        </div>
      </div>
    </div>
    <div class="row  row-space">
      <div class="col-md-6 col-sm-12">
        <div class="input-group">
          <input
            id="password"
            type="password"
            formControlName="password"
            [readOnly]="isLoading"
            class="input--style-4"
            [ngClass]="{ 'field-error': firstSubmitted && passwordField.errors}"
          />
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="input-group">
          <p class="desc">Используйте буквы разного регистра и любые символы</p>
        </div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-md-6 col-sm-12">
        <label>Повторно пароль</label>
      </div>
      <div class="col-md-6 col-sm-12">
        <div *ngIf="firstSubmitted && confirmPasswordField.errors">
          <p *ngIf="confirmPasswordField.errors.required" class="error">Обязательное поле</p>
          <p *ngIf="confirmPasswordField.errors.minlength" class="error">Не меньше 4 символов</p>
          <p *ngIf="confirmPasswordField.errors.mustMatch" class="error">Пароли не совпадают</p>
        </div>
      </div>
    </div>
    <div class="row  row-space">
      <div class="col-md-6 col-sm-12">
        <div class="input-group">
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            [readOnly]="isLoading"
            class="input--style-4"
            [ngClass]="{ 'field-error': firstSubmitted && confirmPasswordField.errors}"
          />
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="input-group">
          <p class="desc">Подтвердите пароль (чтобы избежать ошибок)</p>
        </div>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-md-6 col-sm-12">
        <button
          type="submit"
          class="btn btn--radius-2 btn--blue"
          [disabled]="isLoading"
          [ngClass]="{'disabled-button': isLoading}"
        >
          {{'USER.CHANGE-PASSWORD' | translate}}
        </button>
      </div>
      <div class="col-md-6 col-sm-12">
        <button
          type="button"
          class="btn btn--radius-2 btn--blue"
          [disabled]="isLoading"
          [ngClass]="{'disabled-button': isLoading}"
          (click)="onCancel()"
        >
          {{'COMMON.CANCEL' | translate}}
        </button>
      </div>
      <div class="col-md-6 col-sm-12">
        <img src="assets/img/loading.gif" class="loading" *ngIf="isLoading">
        <div *ngIf="err && !isLoading">
          <p class="error">{{err}}</p>
        </div>
      </div>
    </div>
  </form>
</div>




