<div class="page-wrapper bg-gra-02 font-poppins p-t-130 p-b-100">
  <div class="container wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <h2 class="auth-title">Активация аккаунта</h2>
          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <label>Email</label>
            </div>
            <div class="col-md-6 col-sm-12">
              <div *ngIf="firstSubmitted && emailField.errors">
                <div *ngIf="emailField.errors.required" class="error">Обязательное поле</div>
                <div *ngIf="emailField.errors.email" class="error">Неверный email</div>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <div class="input-group">
                <input
                  id="email"
                  type="email"
                  formControlName="email"
                  class="input--style-4"
                  [readOnly]="isLoading"
                  [ngClass]="{ 'field-error': firstSubmitted && emailField.errors }"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="input-group">
                <p class="desc">На эту почту придет письмо для сброса пароля</p>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <button
                type="submit"
                class="btn btn--radius-2 btn--blue"
                [disabled]="isLoading"
                [ngClass]="{'disabled-button': isLoading}"
              >
                Восстановить
              </button>
            </div>
            <div class="col-md-6 col-sm-12">
              <img src="assets/img/loading.gif" class="loading" *ngIf="isLoading">
            </div>
            <div *ngIf="error && !isLoading">
              <p class="error">{{error}}</p>
            </div>
          </div>
          <div class="row row-space cancel-region">
            <div class="col-md-12">
              <a routerLink="/login" class="routerLink" [class.disabled]="isLoading ? true: null">
                Вход в систему
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


