.error {
  margin: 0 0 0 30%;
  font-size: 12px;
}

.item-role {
  font-size: 12px;
  /*line-height: 16px;*/
  /*vertical-align: middle;*/
}
.roles{
  overflow-y: auto;
  height: 200px;
}
.add-btn {
  color: #88bb00;
  /*margin: 0 0 0 30px;*/
}
.add-role-field {
  text-decoration: underline;
}
