<div class="row">
  <div class="col-sm-3 col-md-3">
    <button mat-raised-button color="primary" (click)="onClickAddUnit()">
      {{'UNIT.ADD' | translate}}
    </button>
  </div>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    (click)="onClickUnit(node)"
    class="pointer"
    [class.active]="selectedNode === node"
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button
      mat-icon-button
      disabled
    >
    </button>
    {{node.unit.name}}
    <button mat-icon-button (click)="onClickEditUnit(node)" class="edit-icon">
      <mat-icon aria-hidden="false">edit</mat-icon>
    </button>

    <button mat-icon-button (click)="onClickDeleteUnit(node)" class="delete-icon">
      <mat-icon aria-hidden="false">delete</mat-icon>
    </button>

  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node;
    when: hasChild"
    matTreeNodePadding
    (click)="onClickUnit(node)"
    class="pointer"
    [class.active]="selectedNode === node"
  >
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.name"
      (click)="onClickUnit(node)"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.unit.name}}
    <button mat-icon-button (click)="onClickEditUnit(node)" class="edit-icon">
      <mat-icon aria-hidden="false">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickDeleteUnit(node)" class="delete-icon">
      <mat-icon aria-hidden="false">delete</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
