.active {
  color: #9c27b0 !important;
  font-weight: bold;
  font-style: italic;
  /*color: #63d84f !important;*/
  /*background-color: #9c27b0 !important;*/
  /*box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);*/
}
